:root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  }
*{
    box-sizing: border-box;
}
img{
    cursor: pointer;
}
input{
    cursor: pointer;
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: url(IMG/reinhart-julian-b2htsZsPGPc-unsplash.jpg);
    background-position: center center;
    background-size: 2000px ;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: whitesmoke;
    text-align: left;
}
body, html{
    width: 100%;
    padding: 0;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;

}
/*CSS MENU*/
nav.container-menu{
    width: 100%;
    height: 100px;
}
nav.menu{
    display: flex;
    justify-content: space-around; 
    background-color: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.menu-scroll{
    background-color: rgba(0, 0, 0, 0.5);
}
/*-------------------------------------------*/
div.name{
    color: blanchedalmond;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif  ;
    text-transform: uppercase;
    display: block;
    padding: 10px;
}
.animate__animated.animate__zoomInDown{
    -o-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    
}
/*------------------------------------------*/
div.menu-namebrand img{
    width: 100px;
    -webkit-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -ms-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
}
div.menu-namebrand img:hover
{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    transform:rotate(360deg);
}
/*------------------------------------------*/
div.menu-content ul{
    list-style-type: none;
    display: flex;
    background-color: rgba(255, 255, 255, 0);
}
div.menu-content li{
    display: block;
    width: 150px;
    text-align: center;
}
div.menu-content li a{
    color: blanchedalmond;
    display: block;
    padding: 20px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    -webkit-transition-duration: 0.5s; /*Webkit*/
    -moz-transition-duration: 0.5s; /*Mozilla*/
    -o-transition-duration: 0.5s; /*Opera*/
}
div.menu-content li a:hover{
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1); 
    -o-transform:scale(1.1);
}
/*----------------------*/
.dropdown-content{
    opacity: 0;
    position: absolute;
    visibility: hidden;
    transition: opacity ease 1s;
    margin-left: -200px;
}
.dropdown:hover .dropdown-content{
    opacity: 1;
    visibility: visible;
}
/*-------------------------------------------------------------*/
/*CSS Phan*/
@keyframes doimauchu{
    from{
        color: red;
    }
    to{
        color: rgb(0, 162, 255);
    }
}

section.bestseller{
    margin: 0 150px;
}
/*--------product page----------------------*/
b.dolar{
    animation: doimauchu 1s ease infinite;
}
section.all-products{
    width: 100%;
    /* margin-left: 150px; */
    /* margin-right: 150px; */
}
div.box-product{
    width: 25%;
    margin: 2%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    -webkit-transition-duration: 0.5s; /*Webkit*/
    -moz-transition-duration: 0.5s; /*Mozilla*/
    -o-transition-duration: 0.5s; /*Opera*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
div.box-product:hover{
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1); 
    -o-transform:scale(1.1);
}
div.products-page{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
div.product-page {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
  }
  .product-page:hover .overlay{
    height: 50%;
  }
  div.note-page{
      width: 100%;
      text-align: center;
  }
  div.note-page > input[type=button]{
    font-size: 15px;
    font-weight: 700;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  }
  div.note-page > input[type=button]:hover{
      animation: doimauchu 1s ease infinite;
  }
/*-Product homepage-*/
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product {
    position: relative;
    width: 40%;
    margin: 2%;
  }
  
  .image {
    border-radius: 10px;
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.3);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  
  .product:hover .overlay {
    height: 50%;
  }
  
  .text-product {
    color: black  !important ;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  /*CSS FOOTER*/
  footer.footer{
      margin-top: 100px;
      padding: 5%;
      background-color: rgba(0, 0, 0, 0.3);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
  .footer ul li{
      padding: 5px;
  }
  .footer-contact{
      color: seashell;
      width: 30%;
      text-align: right;
  }
  .footer-name{
      width: 30%;
  }
.footer-link{
    width: 30%;
    color: seashell;
    text-align: right;
}
.footer-link a{
    color: seashell;
}
div.footer-link, div.footer-contact > ul > li:first-child{
    padding: 20px;
    text-transform: uppercase;
}
.product-footer{
    position: relative;
    padding-right: 20px;
}
.footer-icon{
    width: 100%;
    text-align: center;
}
.footer-icon a{
    color: seashell;
    font-size: 30px;
    display: inline-block;
    padding: 10px;
}
/*CSS TIEU DE MOI TRANG WEB*/
.section-header a{
    display: inline-block;
    color: seashell;
    padding: 12px;
}
.section-header{
    color: seashell;
    background-color: rgba(255, 255, 255, 0.5);
}
.section-header > h4{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0;
}
.section-title{
    text-align: center;
    color: blanchedalmond;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif  ;
}
.section-title h2{
    text-shadow: 2px 2px black;
}
/*CSS ABOUT*/
.about{
    color: seashell !important;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 16px;
}
section.about-size{
    background-image: url(IMG/Sneaker3.jpg);
    margin-top: 50px;
    margin-bottom: 50px;
}
div.table-background{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7) !important;
    padding: 100px;
}
div.container-table{
    width: 100%;
    padding: 20px;
}
div.table{
    color: black;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
    
}
thead{
    font-weight: bold;
}
table.table{
    padding: 16px !important;
    width: 100%;
    margin: 0 auto;
    
}
tr.table-tr{
    border: none;
    border-bottom: 1px solid slategray;
}
tr.table-tr td, tr.table-tr th{
    padding: 1,5rem;
    vertical-align: middle;
}
tr.table-tr:hover{
    background-color: deepskyblue;
}




/*CSS Buy*/
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    color: white;
    /* background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%); */
    background-color:rgba(0, 0, 0, 0.8);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .openbtn:hover {
    background-color: #444;
  }
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  /*-------------------------------*/

  form.billOf{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .billOftb{
      margin: 0 auto;
  }
  .billOftb tr td:first-child{
      width: 100px;
      display: block;
  }
.billOftb tr td{
    padding: 10px;
}
table.billOftb input{
    width: 100%;
    height: 100%;
    color: black;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    border: 1px solid black;
}
textarea#noteSlide{
    color: black;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}
table.billOftb input[type=radio]{   
    width: 15px;
    height: 15px;
}
input[type=reset], table.billOftb input[type=button]{
    color: black;
}
table.billOftb select{
    color: black;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}

div.imgSlide{
    width: 300px;
    margin: 10px auto;
}
div.imgSlide img{
    width: 100%;
    border-radius: 10px;
    -webkit-transition-duration: 0.5s; /*Webkit*/
    -moz-transition-duration: 0.5s; /*Mozilla*/
    -o-transition-duration: 0.5s; /*Opera*/
}
div.imgSlide img:hover{
    -webkit-transform:scale(1.3);
    -moz-transform:scale(1.3); 
    -o-transform:scale(1.3);
}
/*THUMB*/

    .thumb{
        display: flex;
    }
    .thumb div img{
        padding: 5px;
        border-radius: 10px;
    }
  /*HOver thumb*/
  
/*CSS Go to top*/
a.goToTop{
    display: inline-block;
    padding: 10px 10px;
    font-size: 26px;
    color: white;
    text-decoration: none;
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    position: fixed;
    bottom: 0;
    right: 0;
}
a.goToTop:hover{
    color: white;
}
#dialog{
    display: none;
    position: fixed;
    padding-top: 100px;
    left: 10%;
    top: 20%;
    right: 10%;
    bottom: 20%;
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    opacity: 0.9;
    border-radius: 25%;
    overflow: auto;
 
}
.dialogContent {
    margin: auto;
    text-align: center;
    padding: 20px;
    width: 80%;
    font-size: 20px;
    color: #ffebcd;
  }

 .about-content{
     display: flex;
     text-align: center;
 }
 .aboutFlex{
     width: 50%;
     margin: 5px;
     
 }
 .imgFlex{
     width: 100%;
     height: auto;
 }
 /*------------------------------------*/
 .Sneaker-Gallery{
     margin-top: 100px;
     background-image: url(IMG/Sneaker1.jpg);
     background-position: center center;
 }
 .Sneaker-Gallery-box1{
     background-color: rgba(255, 255, 255, 0.8);
 }
 .Sneaker-Gallery-img{
     width: 70%;
     margin: 0 auto;
     padding: 100px;
 }
 .Sneaker-Gallery-img img{
     width: 100%;
 }

 /*RESPONSIVE*/
 @media screen and (max-width: 800px){
    body{
        background-image: url(IMG/backgroundccc.jpg);
    }
    nav.menu{
        display: flexbox;
        flex-direction: column;
        margin: 0 auto;
        background-color: none;
        visibility: visible;
        position: static;

    }
    nav.container-menu{
        width: 100%;
        height: 300px;
    }
    div.name{
        width: 100%;
        text-align: center;
    }
    div.menu-namebrand{
        display: inline;
        text-align: center;
        width: 100%;
    }
    div.menu-content{
        width: 100%;
        text-align: center;
    }
    div.list-menu{
        display: flex;
        justify-content: center;
    }
    div.dropdown-content{
        display: flex;
        justify-content: center;
        margin-left: -25px;
    }
    .footer-contact, .footer-link{
        text-align: center;
        margin: 20px;
    }
    section.bestseller{
        margin: 0 auto;
    }
    .product{
        width: 60%;
    }
    div.note-page > input[type=button]{
        width: 100px;
    }
    .container-table{
        overflow: auto;
    }
}